.fell {
  font-family: IM FELL French Canon SC;
}

.mono {
  font-family: JetBrains Mono;
}
.merienda {
  font-family: Merienda;
}

.modern {
  font-family: MuseoModerno;
}
.montserrat {
  font-family: Montserrat;
}
