.home_page_header {
  margin-top: 37px;
  height: 561.044px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
  background: url(https://i.ibb.co/1mphkDs/Photo-1.png), lightgray 50% / cover no-repeat ;
}
